@font-face {
    font-family: "Nasalization";
    src: url("../fonts/Nasalization.otf") format("opentype");
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(0, 0%, 64%);
}

canvas {
    border: 1px solid hsl(350, 100%, 88%);
    background-color: #d7cbcb;
}
